<div class="container main-container">
    <h4>Demo Cadastro</h4>
    <hr>
    <form novalidate (ngSubmit)="adicioanarUsuario()" [formGroup]="cadastroForm">
        <div class="form-horizontal">

            <div class="form-group">
                <label class="col-md-2 control-label" for="nome">Nome Completo</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Nome (requerido)" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label" for="nome" >Cpf</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="cpf" placeholder="CPF" formControlName="cpf" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" for="email">Email</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="email" placeholder="Email (requerido)" formControlName="email" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4 col-md-offset-2">
                    <span><button class="btn btn-success" id="Registrar" type="submit">Registrar</button></span>
                </div>
            </div>

        </div>
    </form>
</div>